<div class="row" style="margin-top: 2%">
    <div id="search-area">
        <div class="search col-md-8">
            <label for="search-input" class="search-label">Tìm kiếm</label>
            <input type="text" placeholder="Tên sản phẩm..." class="form-control" id="search-input" />
        </div>
        <div class="search-type col-md-4">
            <label class="search-label">Theo</label>
            <div class="dropdown">
                <div class="search-type-btn dropdown-text col-md-6">Sản phẩm</div>
                <div class="dropdown-content">
                    <p class="content-drop">Sản phẩm</p>
                    <p class="content-drop">Nhà sản xuất</p>
                </div>
            </div>
            <div class="search-type-btn click col-md-6 glyphicon glyphicon-search" id='btn_Search'></div>
        </div>
    </div>
</div>