<style>
    .dropdown-content-type, .dropdown-content-brand {
        z-index: 999;
    }
</style>

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Trang chủ</a>
                    </li>
                    <li class="">
                        <a href="/shop">Cửa hàng</a>
                    </li>
                    <li>
                        <div class="drop-type">
                            <a class="dropdown-text-type" href="#">Chủng loại</a>
                            <div class="dropdown-content-type">
                                {{#each layoutVM.typesList}}
                                <a style="text-decoration: none" href="/shop/choose?att=type&id={{this.id}}" class="content-drop-small ">{{this.name}}</a>  
                                {{/each}}

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="drop-brand">
                            <a class="dropdown-text-brand" href="#">Nhà sản xuất</a>
                            <div class="dropdown-content-brand">
                                {{#each layoutVM.brandsList}}
                                <a style="text-decoration: none" href="/shop/choose?att=brand&id={{this.id}}" class="content-drop-small ">{{this.name}}</a>                        
                                {{/each}}
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Liên Hệ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>