<div class="row" style="margin-top: 2%">
    <div id="search-area">
        <form id="searchform" role="form" method="post" action="/shop/search">
            <div class="search col-md-8">
                <label for="search-input" class="search-label">Tìm kiếm</label>
                <input type="text" placeholder="Tên sản phẩm..." class="form-control" id="search-input" name="searchWhat"/>
            </div>
            <div class="search-type col-md-4">
                <label class="search-label">Theo</label>
                <div class="dropdown">
                    <div class="search-type-btn dropdown-text col-md-6">Sản phẩm</div>
                    <div class="dropdown-content">
                        <p class="content-drop">Sản phẩm</p>
                        <p class="content-drop">Loại</p>
                    </div>
                </div>            
                <button type = "submit" class="search-type-btn click col-md-6 glyphicon glyphicon-search" id='btn_Search'></button> 
            </div>
        </form>
    </div>
</div>
   
    