<div class="row">
    <div class="col-sm-6">
        <div class="logo">
            <h1>
                <a href="/">e
                    <span>Sales</span>
                </a>
            </h1>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="col-sm-6">
            <div id="history-buy">

            </div>
        </div>
        {{#if layoutVM.isUser}}
        <div class="col-sm-6">
            <div class="shopping-item">
                <a href="/cart">Giỏ hàng -
                    <span class="cart-amunt">{{user.total}}$</span>
                    <i class="fa fa-shopping-cart"></i>
                    <span class="product-count">{{user.count}}</span>
                </a>
            </div>
        </div>
        {{/if}}
    </div>
</div>