<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Trang chủ</a>
                    </li>
                    <li class="active">
                        <a href="/shop">Cửa hàng</a>
                    </li>
                    <li>
                        <div class="drop-type">
                            <a class="dropdown-text-type" href="#">Chủng loại</a>
                            <div class="dropdown-content-type">
                                <p class="content-drop-small classify">Business</p>
                                <p class="content-drop-small classify">Workstation</p>
                                <p class="content-drop-small classify">Gaming</p>
                                <p class="content-drop-small classify">Ultrabook</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="drop-brand">
                            <a class="dropdown-text-brand" href="#">Nhà sản xuất</a>
                            <div class="dropdown-content-brand">
                                <p class="content-drop-small brand">Dell</p>
                                <p class="content-drop-small brand">Asus</p>
                                <p class="content-drop-small brand">Acer</p>
                                <p class="content-drop-small brand">HP</p>
                                <p class="content-drop-small brand">MSI</p>
                                <p class="content-drop-small brand">Apple</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Liên Hệ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>