<div class="row" style="margin-top: 2%">
    <div id="search-area">
        <div class="search col-md-8">
            <label for="search-input" class="search-label">Tìm kiếm</label>
            <input type="text" placeholder="Tên sản phẩm..." class="form-control" id="search-input" />
        </div>
        <div class="search-type col-md-4">
            <label class="search-label">Theo</label>
            <div class="dropdown">
                <div class="search-type-btn dropdown-text col-md-6">Sản phẩm</div>
                <div class="dropdown-content">
                    <p class="content-drop">Sản phẩm</p>
                    <p class="content-drop">Nhà sản xuất</p>
                </div>
            </div>
            <div class="search-type-btn click col-md-6 glyphicon glyphicon-search" id='btn_Search'></div>
        </div>
    </div>
</div>

{{#section 'js'}}
<script type="text/javascript">
    jQuery(document).ready(function ($) {
    //search type choosing
        $('.content-drop').bind('click', function (event) {
            var selected = $(this).text();
            $('.dropdown-text').text(selected);
            $('#search-input').attr('placeholder', "Tên " + selected.toLowerCase() + "...");
        });
        
        if (document.getElementById("slider-range") != null) {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 3000,
            values: [100, 1500],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
            " - $" + $("#slider-range").slider("values", 1));
    }
    })(jQuery);
</script>
{{/section}}

   
    