<div class="row">
    <div class="col-sm-6">
        <div class="logo">
            <h1>
                <a href="#">e<span>Sales</span></a>
            </h1>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="col-sm-6">
            <div id="history-buy">

            </div>
        </div>
        <div class="col-sm-6">
            <div class="shopping-item">
                <a href="#">Giỏ hàng -
                    <span class="cart-amunt">15 triệu</span>
                    <i class="fa fa-shopping-cart"></i>
                    <span class="product-count">5</span>
                </a>
            </div>
        </div>
    </div>
</div>