<style>
    #avatar {
        border-radius: 50% !important;
        width: 10%;
        height: 10%;
        float: right;
        margin-right: 3%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
</style>

<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul id="tool-bar">
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i> Giỏ hàng</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i> Thanh toán</a>
                        </li>

                        {{#if user}}
                            <li id="logout-tag">
                            <a href="/logout">
                                <i class="fa fa-user"></i> Đăng xuất</a>
                            </li>
                        {{else}}
                        <li id="login-tag">
                                <a href="/login">
                                    <i class="fa fa-user"></i> Đăng nhập</a>
                            </li>
                            <li id="register-tag">
                                <a href="/register">
                                    <i class="fa fa-user"></i> Đăng ký</a>
                            </li>
                        {{/if}} 
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                {{#if user}}
                    <a href="/profile">
                        <img id='avatar' src="{{user.image}}" alt="" class="img-thumbnail img-fluid" width="40px" height="40px">
                    </a>
                    <div style="float: right; margin-right: 4%; margin-top: 3%">
                        Chào, {{user.username}}
                    </div> 
                {{/if}}
            </div>
        </div>
    </div>
</div>