<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul id="tool-bar">
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i> Giỏ hàng</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i> Thanh toán</a>
                        </li>

                        {{#if user}}
                            <li id="register-tag">
                            <a href="/">
                                <i class="fa fa-user"></i> Đăng xuất</a>
                            </li>
                        {{else}}
                        <li id="login-tag">
                                <a href="/login">
                                    <i class="fa fa-user"></i> Đăng nhập</a>
                            </li>
                            <li id="register-tag">
                                <a href="/register">
                                    <i class="fa fa-user"></i> Đăng ký</a>
                            </li>
                        {{/if}} 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>