<div class="row">

    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default statistics-provinces">
                    <div class="panel-heading">
                        <h3 class="panel-title">Thống kê người mua</h3>
                    </div>
                    <div class="panel-body" style="margin-bottom: -4%;">
                        <table class="table bootstrap-datatable">
                            <thead>
                                <tr>
                                    <th>Tỉnh/TP</th>
                                    <th>Số người</th>
                                    <th>Tỉ lệ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>TP HCM</td>
                                    <td>560</td>
                                    <td>
                                        <div class="progress thin">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 35%">
                                            </div>
                                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 65%">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hà Nội</td>
                                    <td>400</td>
                                    <td>
                                        <div class="progress thin">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 25%">
                                            </div>
                                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 75%">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Đà nẵng</td>
                                    <td>240</td>
                                    <td>
                                        <div class="progress thin">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 15%">
                                            </div>
                                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 85%">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cần Thơ</td>
                                    <td>160</td>
                                    <td>
                                        <div class="progress thin">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 10%">
                                            </div>
                                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 90%">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bình Dương</td>
                                    <td>80</td>
                                    <td>
                                        <div class="progress thin">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 5%">
                                            </div>
                                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 95%">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default statistics-products" style="display: none">
                    <div class="panel-heading">
                        <h3 class="panel-title">Thống kê sản phẩm</h3>
                    </div>
                    <div class="panel-body" style="margin-bottom: -4%;">
                        <table class="table bootstrap-datatable">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá bán</th>
                                    <th>Số lượng bán</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                {{< (statistic)}}

            </div>
            <div class="col-md-4">
                <div class="social-box">
                    <i class="fa fa-facebook" style="background-color: #3b5998;"></i>
                    <div class="row" style="padding-bottom: 4%">
                        <div class="col-md-6" style="border-right: 1px solid #ddd;">
                            <strong>256k</strong>
                            <span>Người theo dõi</span>
                        </div>
                        <div class="col-md-6">
                            <strong>102</strong>
                            <span>Bài đăng</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="social-box">
                    <i class="fa fa-google-plus" style="background-color: #d34836"></i>
                    <div class="row" style="padding-bottom: 4%">
                        <div class="col-md-6" style="border-right: 1px solid #ddd;">
                            <strong>839</strong>
                            <span>Người theo dõi</span>
                        </div>
                        <div class="col-md-6">
                            <strong>50</strong>
                            <span>Bài đăng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>