<form class="form-inline" action="/action_page.php">
  <div class="form-group">
    <label class="sr-only" for="name">Tên sản phẩm:</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="date">Ngày đăng</label>
    <input type="date" class="form-control" id="date">
  </div>
   <div class="form-group">
    <label class="sr-only" for="price">Giá :</label>
    <input type="text" class="form-control" id="price">
  </div>
   <div class="form-group">
    <label class="sr-only" for="brand">Nhãn hiệu:</label>
    <input type="text" class="form-control" id="brand">
  </div>
   <div class="form-group">
    <label class="sr-only" for="type">Loại:</label>
    <input type="text" class="form-control" id="type">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>