<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="user-menu">
                <ul id="tool-bar">
                    <li id="login-tag">
                        <a href="/logout" data-toggle="modal" data-target="#Login">
                        <i class="fa fa-user"></i> Đăng xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>