<div class="col-md-4">
    <div class="social-box">
        <i class="fa fa-facebook" style="background-color: #3b5998;"></i>
        <div class="row" style="padding-bottom: 4%">
            <div class="col-md-6" style="border-right: 1px solid #ddd;">
                <strong>256k</strong>
                <span>Người theo dõi</span>
            </div>
            <div class="col-md-6">
                <strong>102</strong>
                <span>Bài đăng</span>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="social-box">
        <i class="fa fa-google-plus" style="background-color: #d34836"></i>
        <div class="row" style="padding-bottom: 4%">
            <div class="col-md-6" style="border-right: 1px solid #ddd;">
                <strong>839</strong>
                <span>Người theo dõi</span>
            </div>
            <div class="col-md-6">
                <strong>50</strong>
                <span>Bài đăng</span>
            </div>
        </div>
    </div>
</div>