<div class="row">
    <div class="col-sm-4">
        <div class="logo">
            <h1>
            <a href="index.html">e<span>Sales</span></a>
            </h1>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="logo">
            <h1 style="font-size: 70px; font-weight: 700; text-shadow: 0 0 10px #ccc;">
            <a href="/management">Manage</a>
            </h1>
        </div>
    </div>
</div>