<style>
    .dashboard-products {
        background-color: #DDD;
    }
    .dashboard-classify, .dashboard-brands {
        background-color: white;
    }
</style>

<div class="col-md-12">
    <div class="panel panel-default statistics-products" style="">
        <div class="panel-heading">
            <h3 class="panel-title">Thống kê sản phẩm</h3>
        </div>
        <div class="panel-body" style="margin-bottom: -4%;">
            <table class="table bootstrap-datatable" id="table_statistic_product">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Giá bán</th>
                        <th>Số lượng bán</th>
                        <th>Tồn kho</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                        <tr>
                            <th>{{this.name}}</th>
                            <th>{{this.price}}</th>
                            <th>{{this.buyTimes}}</th>
                            <th>{{this.inware}}</th>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>