<div class='dashboard-order have-margin'><table class='table-responsive-2'>
    <tbody>
        {{#each orders}}
        <tr class='colorgrey'>
            <td><a href='buy-info.html'>{{this.idBill}}</a></td>
            <td>{{this.time}}</td>
            <td><button type='button' class='btn btn-default' style='margin: 0 35%; width: 30%;' onclick=''>Chi tiết</button></td>
            <td>{{this.total}}&nbsp;₫</td>
            <td>
                <span class='status-btn' onclick='statusOnClick(0, 0)' style='color:#FF6600; font-weight:700;'>{{this.status}}</span>
            </td>
        </tr>
        {{/each}}
        {{#if isempty}}
        <center>Không có hóa đơn nào</center>
        {{/if}}
        <hr />
    </tbody>
</table>
</div>