<div class='dashboard-order have-margin'><table class='table-responsive-2'>
    <thead>
        <tr>
            <th>
                <span class='hidden-xs hidden-sm hidden-md'>Mã đơn hàng</span>
                <span class='hidden-lg'>Code</span>
            </th>
            <th>Ngày mua</th>
            <th>Chi tiết</th>
            <th>Tổng tiền</th>
            <th>
                <span class='hidden-xs hidden-sm hidden-md'>Trạng thái <br> đơn hàng</span>
                <span class='hidden-lg'>Trạng thái</span>
            </th>
        </tr>
        <hr />
    </thead>
    <tbody>
        {{#each orders}}
        <tr class='colorgrey'>
            <td><a href='buy-info.html'>{{this.idBill}}</a></td>
            <td>{{this.time}}</td>
            <td><button type='button' class='btn btn-default' style='margin: 0 35%; width: 30%;' onclick=''>Chi tiết</button></td>
            <td>{{this.total}}&nbsp;₫</td>
            <td>
                <span class='status-btn' onclick='statusOnClick(0, 0)' style='color:#FF6600; font-weight:700;'>{{this.status}}</span>
            </td>
        </tr>
        <hr />
        {{/each}}
        {{#if isempty}}
            <center>Không có hóa đơn nào</center>
        {{/if}}
    </tbody>
</table>
</div>