{{#if true}}
<thead>
    <tr>
        <th>
            <span class='hidden-xs hidden-sm hidden-md'>Mã đơn hàng</span>
            <span class='hidden-lg'>Code</span>
        </th>
        <th>Ngày mua</th>
        <th>Chi tiết</th>
        <th>Tổng tiền</th>
        <th>
            <span class='hidden-xs hidden-sm hidden-md'>Trạng thái <br> đơn hàng</span>
            <span class='hidden-lg'>Trạng thái</span>
        </th>
    </tr>
</thead>
{{/if}}