<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="db-tab sp">
                        <a href="/management" style='background-color: none;'>Sản phẩm</a>
                    </li>
                    <li class="db-tab cl">
                        <a href="/management/type">Chủng loại</a>
                    </li>
                    <li class="db-tab nsx">
                        <a href="/management/brand">Nhà sản xuất</a>
                    </li>
                    <li class="db-tab dh">
                        <a href="/management/orders">Đơn hàng</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>