<style>
    .dashboard-brands {
        background-color: #DDD;
    }
    .dashboard-products, .dashboard-classify {
        background-color: white;
    }
</style>

<div class="col-md-8">
    <div class="panel panel-default statistics-brands" style="">
        <div class="panel-heading">
            <h3 class="panel-title">Thống kê nhà sản xuất</h3>
        </div>
        <div class="panel-body" style="margin-bottom: -4%;">
            <table class="table bootstrap-datatable">
                <thead>
                    <tr>
                        <th>Tên nhà sản xuất</th>
                        <th>Số sản phẩm</th>
                        <th>Tổng tiền</th>
                        <th>Tồn kho</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each brand}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.soldProduct}}</td>
                            <td>{{this.revenue}}</td>
                            <td>{{this.inware}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<button type='button' class='btn btn-default add-btn' style='float:right; margin-bottom:20px; width: 200px;'>Thêm</button>