<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="copyright">
                <p>&copy; 2018 eSales. Thiết kế
                    <i class="fa fa-heart"></i> bởi
                    <a href="https://github.com/nguyenhotoanthuap97/WebMidtermProject" target="_blank">Rules Of Survival</a>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="footer-card-icon">
                <i class="fa fa-cc-discover"></i>
                <i class="fa fa-cc-mastercard"></i>
                <i class="fa fa-cc-paypal"></i>
                <i class="fa fa-cc-visa"></i>
            </div>
        </div>
    </div>
</div>