<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="footer-about-us" style="text-align:justify;">
                <h2 style="text-align:center;">e
                    <span>Sales</span>
                </h2>
                <p>Đây là website phân phối các dòng laptop chính hãng và laptop nhập khẩu cũng như laptop xách tay trực tiếp
                    từ các nước Mỹ, Canada với cam kết về chất lượng và giá cả hàng đầu tại Việt Nam. Tất cả dòng laptop
                    chúng tôi cung cấp đều đảm bảo "Mới 100% - Hàng chính hãng" được bảo hành từ 12-24 tháng. Có thể đổi
                    trả trong vòng 30 ngày nếu có vấn đề về kỹ thuật.
                </p>
                <div style="text-align:center;"class="footer-social">
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-youtube"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
        </div>

    </div>
</div>