<h3>{{this.cpuName}}</h3>
<div id="content_features">
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            CPU
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Công nghệ CPU:</span>
            <div class="ty-product-feature__value">6th Generation Intel Core™</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Loại CPU - Tốc Độ:</span>
            <div class="ty-product-feature__value">Intel® Core™ i5-6200U Processor</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Bộ nhớ đệm:</span>
            <div class="ty-product-feature__value">3Mb Cache</div>
        </div>
    </div>
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            RAM
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Dung lượng RAM:</span>
            <div class="ty-product-feature__value">4GB</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Loại RAM:</span>
            <div class="ty-product-feature__value">DDR3L</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Tốc độ BUS</span>
            <div class="ty-product-feature__value">1600Mhz</div>
        </div>
    </div>
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            Đĩa cứng
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Dung lượng ổ đĩa:</span>
            <div class="ty-product-feature__value">500GB</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Loại ổ đĩa:</span>
            <div class="ty-product-feature__value">HDD</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Vòng quay</span>
            <div class="ty-product-feature__value">5400rpm</div>
        </div>
    </div>
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            Màn hình
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Công nghệ màn hình:</span>
            <div class="ty-product-feature__value">HD WLED TrueLife</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Kích thước màn hình:</span>
            <div class="ty-product-feature__value">15.6 inch</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Độ phân giải</span>
            <div class="ty-product-feature__value">HD (1366 x 768) pixels</div>
        </div>
    </div>
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            Card đồ họa
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label"> Bộ nhớ đồ họa:</span>
            <div class="ty-product-feature__value">4GB</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Chipset đồ họa:</span>
            <div class="ty-product-feature__value">AMD R5-M335</div>
        </div>
    </div>
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            Giao tiếp
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label"> Kết nối mạng:</span>
            <div class="ty-product-feature__value">802.11 1X1 ac</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Bluetooth:</span>
            <div class="ty-product-feature__value">Bluetooth® 4.0</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">HDMI:</span>
            <div class="ty-product-feature__value">HDMI-out cổng</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Reader:</span>
            <div class="ty-product-feature__value">1 SD card reader</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">USB:</span>
            <div class="ty-product-feature__value">
                <p>1 x USB 3.0 PowerShare</p>
                <p>2 x USB 3.0</p>
            </div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Video Port:</span>
            <div class="ty-product-feature__value">1 VGA</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">LAN:</span>
            <div class="ty-product-feature__value">1 RJ45</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Headphone/Speaker out:</span>
            <div class="ty-product-feature__value">Headphone/Microphone Combo</div>
        </div>
    </div>
    <div class="ty-product-feature-group">
        <h3 class="ty-subheader">
            Xuất xứ - Nhà sản xuất
        </h3>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Xuất xứ:</span>
            <div class="ty-product-feature__value">Nhập khẩu từ USA</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Nhà sản xuất:</span>
            <div class="ty-product-feature__value">Dell</div>
        </div>
        <div class="ty-product-feature">
            <span class="ty-product-feature__label">Loại hàng</span>
            <div class="ty-product-feature__value">Brand New 100% - Full Box - Seal</div>
        </div>
    </div>
</div>