<div class="cart_totals ">
    <h2>Tổng</h2>

    <table cellspacing="0">
        <tbody>
            <tr class="cart-subtotal">
                <th>Tiền sản phẩm</th>
                <td>
                    <span class="amount">15.000.000 đ</span>
                </td>
            </tr>

            <tr class="shipping">
                <th>Phí giao hàng</th>
                <td>Miễn phí</td>
            </tr>

            <tr class="order-total">
                <th>Tổng tiền</th>
                <td>
                    <strong>
                        <span class="amount">15.000.000 đ</span>
                    </strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>