<div class="col-md-6">
    <div class="woocommerce-shipping-fields" style="padding-left: 3%">
        <h3 id="ship-to-different-address">
            <label class="checkbox col-sm-11" for="ship-to-different-address-checkbox" style="padding-left: 5%">Giao hàng đến địa chỉ khác</label>
            <input type="checkbox" name="ship_to_different_address" value="check" class = "input-checkbox"onchange="otherAddress()" unchecked>
        </h3>
        <div class="shipping_address" style="display: none;">

            <p id="shipping_first_name_field" class="form-row form-row-first validate-required">
                <label class="" for="shipping_first_name">Họ tên người nhận
                    <abbr title="required" class="required">*</abbr>
                </label>
                <input type="text" value="" placeholder="Văn B" id="shipping_first_name" name="shipping_name" class="input-text ">
            </p>
            <p id="shipping_address_1_field" class="form-row form-row-wide address-field validate-required">
                <label class="" for="shipping_address_1">Địa chỉ người nhận
                    <abbr title="required" class="required">*</abbr>
                </label>
                <input type="text" value="" placeholder="181/3,Tân phước, phường 6, quận 10, TPHCM" id="shipping_address" name="shipping_address"
                    class="input-text ">
            </p>

            <div class="clear"></div>
            

            <p id="order_comments_field" class="form-row notes">
                <label class="" for="order_comments">Ghi chú</label>
                <textarea cols="6" rows="2" placeholder="Hàng dễ vỡ, tặng sinh nhật ...." id="order_comments" class="input-text " name="order_comments"></textarea>
            </p>
        </div>

    </div>
</div>

<script>
    function otherAddress() {
        if ($(".input-checkbox").is(":checked"))
        {
            $(".shipping_address").show();
        }
        else {
            $(".shipping_address").hide();
        }
            
    }

</script>