<div class="col-md-5">
    <div class="woocommerce-billing-fields">
        <h3>Thông tin đơn hàng</h3>

        <p id="billing_first_name_field" class="form-row form-row-first validate-required">
            <label class="" for="billing_first_name">Họ tên
                <abbr title="required" class="required">*</abbr>
            </label>
            <input type="text" value="{{profile.name}}" placeholder="Văn A" id="billing_first_name" name="billing_first_name" class="input-text" disabled>
        </p>

        <p id="billing_company_field" class="form-row form-row-wide">
            <label class="" for="billing_company">Cơ quan </label>
            <input type="text" value="" placeholder="" id="billing_company" name="billing_company" class="input-text ">
        </p>

        <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
            <label class="" for="billing_address_1">Địa chỉ
                <abbr title="required" class="required">*</abbr>
            </label>
            <input type="text" value="{{profile.address}}" placeholder="1/2,Ngô Quyền,Quận 10" id="billing_address_1" name="billing_address_1" class="input-text " disabled>
        </p>

        <div class="clear"></div>

        <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
            <label class="" for="billing_email">Email
                <abbr title="required" class="required">*</abbr>
            </label>
            <input type="text" value="{{profile.email}}" placeholder="" id="billing_email" name="billing_email" class="input-text " disabled>
        </p>

        <p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
            <label class="" for="billing_phone">Điện thoại
                <abbr title="required" class="required">*</abbr>
            </label>
            <input type="text" value="{{profile.phone}}" placeholder="" id="billing_phone" name="billing_phone" class="input-text " disabled>
        </p>
        <div class="clear"></div>

    </div>
</div>