<div class="item active">
    <div class="single-slide">
        <div class="slide-bg slide-one"></div>
        <div class="slide-text-wrapper">
            <div class="slide-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <div class="slide-content">
                                <h2>Nhà phân phối chính hãng</h2>
                                <p>
                                    Chúng tôi là nhà phân phối chính hãng tại Việt Nam của các nhà sản xuất lớn như DELL, ASUS, APPLE
                                </p>
                                <p>
                                    Cam kết cung cấp các sản phẩm chính hãng với giá từ nhà sản xuất
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="single-slide">
        <div class="slide-bg slide-two"></div>
        <div class="slide-text-wrapper">
            <div class="slide-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <div class="slide-content">
                                <h2>Chất lượng tuyệt vời</h2>
                                <p>
                                    Với 20 năm trong ngành, chúng tôi đảm bảo các sản phẩm chất lượng tốt nhất với giá thành mềm nhất thị trường
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="single-slide">
        <div class="slide-bg slide-three"></div>
        <div class="slide-text-wrapper">
            <div class="slide-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <div class="slide-content">
                                <h2>Chương trình bảo hành ưu việt</h2>
                                <p>Chúng tôi cung cấp dịch vụ bảo hành tùy chọn tại cửa hàng với các chuyên
                                    gia phần cứng và phần mềm máy tính. Tổng đài dịch vụ 24/7 18001799
                                </p>
                                <p>Ngoài ra, nếu khách hàng có nhu cầu, chúng tôi có thể làm trung gian gửi
                                    sản phẩm đi bảo hành ở ngay nơi sản xuất</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>