<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>Chủng loại laptop</strong>
        </h3>
    </div>
    <div class="list-group">
        {{#each typesList}}
            <div class="list-group-item click-box">
                <input type="checkbox" class="{{this.name}} checkbox checkbox-btn" checked>  
                <a style="text-decoration: none" href="/shop/choose?att=type&id={{this.id}}"class="{{this.name}} classify">{{this.name}}</a>
            </div>      
        {{/each}}
    </div>
</div>