<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>Chủng loại laptop</strong>
        </h3>
    </div>
    <div class="list-group">
        <div class="list-group-item click-box">
            <input type="checkbox" class="business checkbox checkbox-btn" checked>
            <p class="business classify">Business</p>
        </div>
        <div class="list-group-item click-box">
            <input type="checkbox" class="gaming checkbox checkbox-btn" checked>
            <p class="gaming classify">Gaming</p>
        </div>
        <div class="list-group-item click-box">
            <input type="checkbox" class="workstation checkbox checkbox-btn" checked>
            <p class="workstation classify">Workstation</p>
        </div>
        <div class="list-group-item click-box">
            <input type="checkbox" class="ultrabook-checkbox checkbox-btn" checked>
            <p class="ultrabook classify">Ultrabook</p>
        </div>
    </div>
</div>