<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>Hãng sản xuất</strong>
        </h3>
    </div>
    <div class="list-group">
        {{#each layoutVM.brandsList}}
            <div class="listgroup-item click-box">  
                <a href="/shop/choose?att=brand&id={{this.id}}" class="{{this.name}}"><input style="float:left;width:15px;height:15px;" type="checkbox" class="{{this.name}} checkbox checkbox-btn" checked>&nbsp;{{this.name}}</a>
            </div>    
        {{/each}}
    </div>
</div>