<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>Hãng sản xuất</strong>
        </h3>
    </div>
    <div class="list-group">
        <div class="list-group-item click-box">
            <input type="checkbox" class="dell checkbox checkbox-btn" checked>
            <p class="dell brand">DELL</p>
        </div>
        <div class="list-group-item click-box">
            <input type="checkbox" class="asus checkbox checkbox-btn" checked>
            <p class="asus brand">ASUS</p>
        </div>
        <div class="list-group-item click-box">
            <input type="checkbox" class="msi checkbox checkbox-btn" checked>
            <p class="msi brand">MSI</p>
        </div>
        <div class="list-group-item click-box">
            <input type="checkbox" class="hp checkbox checkbox-btn" checked>
            <p class="hp brand">HP</p>
        </div>
        <div class="list-group-item click-box">
            <input type="checkbox" class="acer checkbox checkbox-btn" checked>
            <p class="acer brand">ACER</p>
        </div>
        <div class="list-group-item click-box">
            <input type="checkbox" class="apple checkbox checkbox-btn" checked>
            <p class="apple brand">APPLE</p>
        </div>
    </div>
</div>