<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>Mức giá</strong>
        </h3>
    </div>
    <div class="list-group">
        <div class="price-search list-group-item">
            <p>
                <input type="text" id="amount" readonly>
            </p>
            <div id="slider-range"></div>
        </div>
    </div>
</div>
