<h2>Mô tả sản phẩm</h2>
<h5 id="product-config">1. Cấu hình</h5>
<p>
    {{configInfo}}
</p>
<h5 id="product-config">2. Thiết kế</h5>
<p>
    {{designInfo}}
</p>

<h5 id="product-config">3. Bàn phím và Touchpad</h5>
<p>
   {{KeyboardAndTouchpad}}
</p>
<h5 id="product-config">4. Cổng giao tiếp</h5>
<p>
    {{portInfo}}
</p>