<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="single-promo">
                <i class="fa fa-refresh"></i>
                <p>Đổi trả 30 ngày</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="single-promo">
                <i class="fa fa-truck"></i>
                <p>Ship hàng miễn phí</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="single-promo">
                <i class="fa fa-lock"></i>
                <p>Thanh toán bảo mật</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="single-promo">
                <i class="fa fa-gift"></i>
                <p>Sản phẩm cập nhật thường xuyên</p>
            </div>
        </div>
    </div>
</div>