<style>
    #customer_details {
        padding-left: 4%;
        padding-right: 4%;
    }
</style>
    {{> a_HeaderCheckout}}
    <div class="single-product-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-content-right">
                        <div class="woocommerce">

                            <form action="/checkout/buy" class="checkout" method="Post" name="checkout">

                                <div id="customer_details" class="col2-set">
                                    {{> checkout_RecordInfo}}
                                    {{> checkout_OtherRecordInfo}}

                                </div>

                                <div id="order_review">
                                    <h3 id="order_review_heading">
                                        Thông tin đặt hàng
                                    </h3>
                                    {{> checkout_OrderInfo}}

                                    {{> checkout_Payment}}
                                </div>
                            </form>

                        </div>                       
                    </div>                    
                </div>
            </div>
        </div>
    </div>