{{> admin_editProduct}}
<div class="single-product-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-content-right">
                    {{> admin_editProduct_main}}
                </div>
            </div>
        </div>
    </div>
</div>