<div id="signupbox" style="margin: 3% 27%">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Đăng ký</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px">
                <a href="/login" id="signinlink">Đăng nhập</a>
            </div>
        </div>
        <div class="panel-body">
            <form id="signupform" class="form-horizontal" role="form" method="post" action="/register">
                {{> checkErrors}}

                <div class="form-group">
                    <label for="username" class="col-md-3 control-label">Username</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="username" placeholder="Nhập username">
                    </div>
                </div>

                <div class="form-group">
                    <label for="firstname" class="col-md-3 control-label">Họ</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="firstname" placeholder="Nhập họ">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-md-3 control-label">Tên</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="lastname" placeholder="Nhập Tên">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Mật khẩu</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="password" placeholder="Mật khẩu">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Nhập lại mật khẩu</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="password2" placeholder="Nhập lại mật khẩu">
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" name="email" placeholder="Nhập email của bạn">
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone" class="col-md-3 control-label">Số điện thoại</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="phone" placeholder="Nhập số điện thoại">
                    </div>
                </div>

                <div class="form-group">
                    <div style="margin-left: 28%" class="g-recaptcha" data-sitekey="6Lc9HmEUAAAAAGvZwIPHZfilAoxCVBkB_XxBiigY">
                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9">
                        <button id="btn-signup" type="submit" class="btn btn-info">
                            <i class="icon-hand-right"></i> &nbsp Đăng ký</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>