<div class="maincontent-area" style="background: none repeat scroll 0 0 #1abc9c; padding-bottom: 0">
    <div class="container">
        <div class="row">
            {{> admin_navigation}}
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box blue-bg">
                            <i class="fa fa-sign-in"></i>
                            <div class="count">6.674</div>
                            <div class="title">Người đăng ký</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box brown-bg">
                            <i class="fa fa-shopping-cart"></i>
                            <div class="count">7.538</div>
                            <div class="title">Người mua</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box dark-bg">
                            <i class="fa fa-thumbs-o-up"></i>
                            <div class="count">4.362</div>
                            <div class="title">Yêu Thích</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box purple-bg">
                            <i class="fa fa-cubes"></i>
                            <div class="count">1.426</div>
                            <div class="title">Dự trữ</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{> (lookup . 'statistic')}}
                    {{> admin_SocialMedia}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End mainmenu area -->