<div class="site-branding-area">
    <div class="container">
        {{> admin_HeaderBrand}}
    </div>
</div>
<div class="maincontent-area" style="background: none repeat scroll 0 0 #1abc9c; padding-bottom: 0">
    <div class="container">
        <div class="row">
            {{> admin_navigation}}
            <div class="col-md-9">
                <div class="row">
                    {{> (lookup . 'statistic')}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End mainmenu area -->