<div class="site-branding-area">
	<div class="container">
		{{> admin_Manage_HeaderBrand}}
	</div>
</div>
<div class="maincontent-area" style="background: none repeat scroll 0 0 #1abc9c; padding-bottom: 0;	padding-left: 2.3%">
	<div class="container add-button">
		<div class="col-sm-12 manage-product">
			{{> (lookup . 'manageSession')}}
		</div>
	</div>
</div>