<div class="site-branding-area">
	<div class="container">
		{{> admin_Manage_HeaderBrand}}
	</div>
</div>
{{> admin_ManagementNavigation}}
<div class="maincontent-area" style="background: none repeat scroll 0 0 #1abc9c; padding-bottom: 0;	padding-left: 2.3%">
	<div class="container add-button">
		{{#if isProduct}}
		<button type='button' class='btn btn-default add-btn' onclick=window.location.replace("/management/product/addproduct") style='float:left; margin-bottom:20px; width: 200px; background-color: #1abc9c; color: white;'>Thêm sản phẩm mới</button>
		{{/if}}
		<div class="col-sm-12 manage-product">

			{{> (lookup . 'manageSession')}}
		</div>
	</div>
</div>