<!-- Start slider area -->
<div class="slider-area">
    <div class="zigzag-bottom"></div>
    <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">
        {{> SlideBullets}}
        <div class="carousel-inner" role="listbox">
            {{> HomeSlider}}
        </div>

    </div>
</div>
<!-- End slider area -->
<div class="promo-area">
    <div class="zigzag-bottom"></div>
    {{> PromotionArea}}
</div>
<!-- End promo area -->