<style>
    .actions {
        margin-top: -2%; 
        margin-bottom: 4%;
        text-align: center;

    }
</style>

{{> a_HeaderCart}}
    <div class="single-product-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            {{> cart_ListProducts}}
                                                            
                            <form class="actions" method="POST">
                                <input type="button" value="Cập nhật giỏ hàng" name="update_cart" class="update-button">
                                <input type="submit" value="Thanh toán" name="proceed" class="checkout-button button alt wc-forward" formaction="../WebMidtermProject/checkout.html"/>
                            </form>

                            <div class="cart-collaterals">
                                {{> cart_ListOtherProducts}}
                                {{> cart_TotalMoney}}

                                <form method="post" action="#" class="shipping_calculator">
                                    <h2>
                                        <a class="shipping-calculator-button" data-toggle="collapse" href="#calcalute-shipping-wrap"
                                            aria-expanded="false" aria-controls="calcalute-shipping-wrap">Tính toán phí giao hàng</a>
                                    </h2>

                                    <section id="calcalute-shipping-wrap" class="shipping-calculator-form collapse">

                                        <p class="form-row form-row-wide">
                                            <select rel="calc_shipping_state" class="country_to_state" id="calc_shipping_country" name="calc_shipping_country">
                                                <option value="">Select a country…</option>
                                            </select>
                                        </p>

                                        <p class="form-row form-row-wide">
                                            <input type="text" id="calc_shipping_state" name="calc_shipping_state" placeholder="Tỉnh/Thành phố"
                                                value="" class="input-text"> </p>

                                        <p>
                                            <button class="button" value="1" name="calc_shipping" type="submit">Cập nhật tổng tiền</button>
                                        </p>

                                    </section>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>