<style>
    .actions {
        margin-top: -2%; 
        margin-bottom: 4%;
        text-align: center;

    }
</style>

{{> a_HeaderCart}}
    <div class="single-product-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <form id='table_cart'></form>
                                {{> cart_ListProducts}}
                                <form class="form-group actions" id='table_cart'>
                                    <input type="submit" value="Thanh toán" name="proceed" class="checkout-button button alt wc-forward" formaction="../WebMidtermProject/checkout.html"/>
                                </form>
                            </form>

                            <div class="cart-collaterals">
                                {{> cart_ListOtherProducts}}
                                {{> cart_TotalMoney}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>