 {{> a_HeaderShop}}
<div class="container">
    {{> a_HeaderSearch}}
    <div class="single-product-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    {{> listProducers}} 
                    {{> kindProduct}} 
                    {{> priceProduct}}
                    <button type="button" class="btn btn-default filter-btn">Lọc</button>
                </div>
                <div class="col-md-9 col-sm-12">
                    {{> listProducts}}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                            <ul class="pagination">

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>